

body {
  background-color: #333333;
  font-family: "Josefin Sans", Helvetica, sans-serif;
}

div.wrapper {

}

.header {
  background-color: #101010;
  padding: 50px;
  text-align: center;

  outline-color: red;
  outline-style: solid;

}

.sidebar {
 float:left;
 width:20%
 height:100%;
 
 background-color: #101010;

 outline-style: solid;
 outline-color: red;
}

ul.sidebar {
  padding: 10px;
  list-style-type:none;
}



.content {
  margin: 20px 20px 20px 20px;
  padding: 20px;
  float: left;
  background-color: #101010;
  width: 80%;
  height: 100%;

  outline-style: solid;
  outline-color: red;
}

.footer {
  background-color: #101010;
  padding: 20px;
  text-align: right;

  outline-style: solid;
  outline-color:red;
}

h1 {
  font-size:50px;
  color: #333333;
  float: center;
  margin-left: 40px;
}

p {
  font-size:15px;
  color: #333333;
}

p.sidebartext {
  font-size:20px;
  color:#333333;
}

a {
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif; 
  color:#060;
}

a:hover{
  color: #930;
}

a.sidebarlink {
  color: #800;
}

a.sidebarlink:hover{
  color: #F90;
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
}