html {
  scroll-behavior: smooth;
}

body {
  font-family:Verdana, Helvetica, sans-serif; 

  /* font-family: "Josefin Sans", Helvetica, sans-serif;

  #12263A Prussian Blue
  #E1E5EE Alice Blue
  #767B91 Rythm
  #E5BE9E Desert Sand
   */

  background:
    linear-gradient(90deg, #12263A 11px, transparent 20%) center,
    linear-gradient(#12263A 11px, transparent 20%) center,#767B91;
  background-size: 12px 12px;
  
  
  
}

div.wrapper {
max-width: 2000px;


}

.header {
  
  padding: 0px;
  text-align: center;

/*
 outline-style: solid;
 outline-color: red;
 */
}

.sidebar {
 margin-top:20px;
 margin-left:25%;
 
 width:70%;
 height:auto;


 background-color: #12263A;
 overflow: auto;

 /*
 outline-style: solid;
 outline-color: red;
 */
}

a.sidebarlink {

 padding-top:20px;
 padding-bottom:20px;
 padding-left:20px;


  color: #06BCC1;
  width:20%;
  float: left;
  border: 2px solid #FFFFFF;
  border-radius: 1px;
}

a.sidebarlink:hover{
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.content {
  width: 80%;
  max-width: 100%;
  margin-top:5px;
  margin-left:10%;
  margin-bottom:50px;
  margin-right:0px;

  padding-bottom: 40px;

  background-color: #E1E5EE;
  
  height: 100%;
  min-height: 350px;


  /*
  min-height: 400px;
  min-width:500px;

/*
 outline-style: solid;
 outline-color: red;
 */

}

.contentsect {

  }

.column {
  float: left;
  width: 10%;
  padding: 20px;
  margin-left:20px;

}

.column img {
  opacity: 0.8;
  cursor: pointer;
  background-image: linear-gradient( #E1E5EE,#12263A );
}

.column img:hover {
  opacity: 1;
}

.row:after {

  content: "";
  display: table;
  clear: both;
}

.bildContainer {
  position: relative;
  display:none;
  margin-left:20%;

}

#bildtxt {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #12263A;
  font-size: 20px;
}

.zuKnopf {
  position: absolute;
  top: 0px;
  left: 75%;
  color: #12263A;
  font-size: 50px;
  cursor: pointer;
}

.embedcontainer{
  position: relative;
  width:96%;
  height: 0;
  padding-bottom: 56.25%;
}

.video{
  position:absolute;
  top: 20px;
  left: 20px;
  width:80%;
  height:80%;
}

.footer {
 
  padding-bottom: 0px;
  text-align: center;
  clear: both;



 border: 2px solid #12263A;
 border-radius: 0px;
 /*
 outline-style: solid;
 outline-color: red;
 */
}



h1 {
  font-family:Verdana, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 12px;
  font-size:50px;
  color: #E1E5EE;
  float: center;
  margin-left: 0px;
  /*
  text-shadow: 1px 1px 1px #000000;
  */
}

h2 {
  font-family:Verdana, Helvetica, sans-serif;
  font-size:28px;
  color: #E1E5EE;
 
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  min-width:200px;

  background-color:#12263A;
  max-height: 30px;
  padding: 2px;
  padding-left: 25%;
  padding-bottom: 6px;
  /*
  text-shadow: 2px 2px 3px #000000;
  */
}

h3 {
  font-family:Verdana, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  font-size:40px;
  color: #767B91;
  float: center;
  margin-left: 0px;
  /*
  text-shadow: 1px 1px 1px #000000;
  */
}

p {
  margin-left: 40px;
  font-family:'Open Sans', sans-serif; font-family: 'Source Sans Pro', sans-serif;
  padding-right: 80px;
  
  font-size:18px;
  color: #12263A;

}

p.sidebartext {
  font-family:Verdana, Helvetica, sans-serif;
  font-size:20px;
  color:#12263A;
  
}

p.passion {
  font-family: Comic Sans MS, sans-serif; 
  font-size: 30px;
  animation: passion 5s infinite;
  -webkit-animation: passion 5s infinite;
}
 
a {
  text-decoration:none;
  font-family: 'Open Sans', sans-serif; font-family: 'Source Sans Pro', sans-serif;
  color:#E1E5EE;
  font-size: 40px;
  font-weight: bold;
}

a:hover{
  color: #E5BE9E;
}

hr { 
    height:1px;
    border-width:0;
    color:#12263A;
    background-color:#12263A;
    width: 80%;
}

img {
  border: 1px solid #12263A;
  border-radius: 2px;
  padding: 3px;
}

img.noborder {
  border: 0px solid #12263A;
  padding: 0px;

}

video {
  border: 3px solid #12263A;
  border-radius: 1px;
  padding: 0px;
}

iframe {

  border: 1px solid #12263A;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin:20px;
  
}

@media screen and (max-width: 300px) {
  a.sidebarlink {
    text-align: center;
    float: none;
    color: #000000;
    background-color:#AAAAAA;
  }
}

@keyframes passion{
    0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: blue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: pink;}
  90%{color: blue;}
  100%{color: orange;}
}

@-webkit-keyframes passion{
    0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: blue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: pink;}
  90%{color: blue;}
  100%{color: orange;}
}