html {
  scroll-behavior: smooth;
}

body {

  font-family:Verdana, Helvetica, sans-serif; 

  /* COLORS

  color="#12263a"   Very dark blue.
  color="#768291"   Dark grayish blue.
  color="#e1e5ee"   Light grayish blue.
  color="#b36363"   Slightly desaturated red.

   */

background:
  linear-gradient(90deg, #12263A 11px, transparent 20%) center, linear-gradient(#12263A 11px, transparent 20%) center, #767B91;
background-size: 12px 12px;
}

div.wrapper {

}

.header {
  
 text-align: center;
}

.content {

  width: 80%;
  height: 100%;
  min-height: 350px;
 
  margin-right: auto; 
  margin-left: auto;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 40px;

  background-color: #E1E5EE;
}

.contentuber {
  

  white-space: nowrap;

  }

.footer {
 
  text-align: center;
  clear: both;
}

h1 {

  font-family:Verdana, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 14px;
  font-size:50px;

  color: #E1E5EE;
}

h2 {

  font-family:Verdana, Helvetica, sans-serif;
  font-size:28px;

  color: #E1E5EE;
 
  margin-left: 2%;
  margin-right: 2%; 

  padding-left: 25%;
  padding-bottom: 4px;
 

  background-color:#12263A;
}

.h2R {

padding-left:60%;
white-space: nowrap;
}


h3 {

  font-family:Verdana, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  font-size:40px;

  color: #b36363;
}

p {

  
  font-family:'Open Sans', sans-serif; font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;

  margin-left: 10%;
  padding-right: 4%;
  
  color: #12263A;
}
 
a {

  
  font-family: 'Open Sans', sans-serif; font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: bold;

  text-decoration:none;
  color:#E1E5EE;
}

a:hover{

  color: #b36363;
}

hr { 

    height:1px;
    border-width:0;
    color:#12263A;
    background-color:#12263A;
    width: 80%;
}

img {
  border-color:#b36363;
  border-width:1px;
  border-style:solid;

  padding: 3px;
}

.lbildL {

  width:60%; 
  max-width:350px; 
  min-width: 100px; 
  margin-right:10px;
  margin-left:10%; 
  
  cursor: pointer;
}

.lbildR {

  width:60%; 
  max-width:350px; 
  min-width: 100px; 
  margin-right:10px;
  margin-left:10px;
  
  cursor: pointer;
}

.uberbildL {

  max-width:23%; 
  min-width: 150px; 
  float:left; 
  margin-right:5%;
  margin-left:2%; 

  border-style:none;
}

.uberbildR {

  max-width:23%; 
  min-width: 150px; 
  float:right; 
  margin-right:2%;
  margin-left:0%; 

  border-style:none;
}

#lightbox {

 position: fixed;
 display: none;
 z-index: 1000;
 top:0;
 width: 100%;
 height:100%;
 background-color:rgba(0,0,0,.8);
}

#lightbox.aktiv {
 
 display: flex;
 justify-content: center;
 align-items: center;
}

#lightbox img {

max.width: 90%;
max-height:80%;
padding:2px;
}

video {

}

iframe {
 min-width: 400px;

}


@media screen and (max-width: 1600px) {



}

@media screen and (max-width: 900px) {
  
a {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  font-size:22px;
  margin-left: 0px;
  margin-bottom: 60px;
  }

.h2R {

padding-left:20%;

}


}






p.passion {

  font-family: Comic Sans MS, sans-serif; 
  font-size: 30px;
  animation: passion 5s infinite;
  -webkit-animation: passion 5s infinite;
}

@keyframes passion{
    0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: blue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: pink;}
  90%{color: blue;}
  100%{color: orange;}
}

@-webkit-keyframes passion{
    0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: blue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: pink;}
  90%{color: blue;}
  100%{color: orange;}
}